@media screen and (max-width: 767px) {
  .accordion__title {
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion.active .panel {
    max-height: 3000px;
    background: $color-black-pearl
  }

  .panel {
    padding: 0;
    background-color: $color-black-pearl;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion__title::before,
  .accordion__title::after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 1px;
    right: 0;
    top: 4px;
    background: $color-alice-blue;
    transition: transform 0.3s ease 0s;
  }

  .accordion__title::after {
    transform: rotate(-90deg);
  }

  .active__title::after {
    transform: rotate(0deg);
  }
}
