.form {
  padding: 164px 50px 249px;
  background: linear-gradient(-41deg, $color-deep-sky-blue 1259px, $color-allports 10px);

  @media screen and (max-width: 1023px) {
    padding: 45px 50px 125px;
  }

  @media screen and (max-width: 767px) {
    padding: 48px 25px 88px;
  }
}

.form__wrapper {
  margin: auto;
  max-width: 1200px;
  display: flex;
}

.form__wrapper-index {
  max-width: 585px;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }
}

.form__img {
  margin: 22px 120px 0 -10px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.form__title {
  margin: 0 0 13px -5px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @media screen and (max-width: 1023px) {
    margin: 0 0 7px;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form__description {
  margin: 0 0 35px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @media screen and (max-width: 1023px) {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
}

// .form__name {
//   margin: 0;
//   padding: 0;
// }

.form__input {
  padding: 13px 15px 15px;
  width: 100%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
}

.form__custom-textarea {
  grid-column: 1/3;
}

.form__textarea {
  min-height: 155px;
  padding: 23px 15px;
  width: 100%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  @media screen and (max-width: 1023px) {
    padding: 29px 15px 15px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 1px;
    min-height: 180px;
    padding: 24px 15px;
  }
}

.form__textarea::placeholder {
  color: $color-default-white;
}

.form__toggel {
  margin-top: 7px;
  min-height: 45px;
  max-width: 265px;
  padding: 15px 25px 13px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background: $color-black-pearl;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    margin-top: 8px;
    padding: 16px 25px 10px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 5px;
    max-width: 100%;
  }
}

.form__checkbox {
  display: flex;
  position: relative;
  margin-top: 22px;

  @media screen and (max-width: 1023px) {
    margin-top: 17px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 6px;
  }
}

.form__mark {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;

  @media screen and (max-width: 1023px) {
    left: 0;
  }

  @media screen and (max-width: 767px) {
    left: 5px;
  }
}

.form__input[type="checkbox"]:checked + .form__mark {
  position: absolute;
  background-image: url("/img/svg/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input::placeholder {
  color: $color-default-white;
}

.form__label-checkbox {
  margin-left: 36px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;

  @media screen and (max-width: 1023px) {
    margin-left: 25px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 30px;
  }
}
