.header {
  position: fixed;
  width: 100%;

  @media screen and (max-width: 1439px) {
    position: relative;
  }
}

.header__wrapper {
  width: 100%;
  align-self: center;
  padding: 30px 50px 35px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 1;

  @media screen and (max-width: 1023px) {
    padding: 20px 53px 25px 50px;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 15px 18px 17px 26px;
  }
}

.header__wrapper-index {
  display: grid;
  grid-template-columns: 30% 51% 16%;
  max-width: 1220px;
  margin: auto;
  align-items: center;

  @media screen and (max-width: 1023px) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo-link {
  display: flex;
  color: $color-triadic-white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 767px) {
    margin-top: -2px;
  }
}

.header__logo-icon {
  @media screen and (max-width: 1023px) {
    margin-top: 0;
  }

  @media screen and (max-width: 767px) {
    margin-top: -4px;
    width: 35px;
    height: 35px;
  }
}

.header__link--toggle {
  display: block;
  max-width: 160px;
  margin-left: 13px;
  margin-top: -8px;
  padding: 10px 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $color-triadic-white;
  border: 1px solid $color-triadic-white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 1164px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1051px) {
    font-size: 11px;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
