.product {
  padding: 65px 50px 140px;
  background: $color-black-pearl;

  @media screen and (max-width: 1023px) {
    padding: 54px 50px 75px;
  }

  @media screen and (max-width: 767px) {
    padding: 47px 25px 85px;
  }
}

.product__wrapper {
  margin: auto;
  max-width: 1220px;
}

.product__title {
  margin: 0 0 54px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @media screen and (max-width: 1023px) {
    margin-bottom: 38px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.product__title-index {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 140.62%;
  }

  @media screen and (max-width: 374px) {
    margin-bottom: 29px;
    max-width: 200px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.product__item {
  position: relative;
  list-style-type: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.product__img {
  position: relative;
  min-height: 650px;
  object-fit: cover;

  @media screen and (max-width: 1023px) {
    min-height: 250px;
    width: 100%;
  }
}

.product__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__heading {
  position: absolute;
  max-width: 170px;
  margin: 47px 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  z-index: 1;

  @media screen and (max-width: 1023px) {
    margin: 37px 45px;
    max-width: 150px;
  }

  @media screen and (max-width: 767px) {
    max-width: 135px;
    font-size: 18px;
    line-height: 30px;
    margin: 26px 30px;
  }
}

.product__toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  text-align: center;
  background: $color-deep-sky-blue;
  border: none;
  border-radius: 3px 0 0 0;
  cursor: pointer;

  @media screen and (max-width: 374px) {
    width: 40px;
    height: 40px;
  }
}

.product__icon {
  margin-top: 26px;

  @media screen and (max-width: 374px) {
    margin-top: 15px;
  }
}
