.site-navigation {
  max-width: 834px;

  @media screen and (max-width: 1023px) {
    max-width: 300px;
  }
}

.site-navigation__list {
  display: grid;
  grid-template-columns: 40% 59%;
  margin: 12px 0;
  padding: 0;

  @media screen and (max-width: 1023px) {
    display: flex;
    justify-content: end;
    margin: 0;
    flex-wrap: wrap;
  }
}

.site-navigation__item {
  margin-bottom: 10px;
  list-style-type: none;

  @media screen and (max-width: 1023px) {
    margin: -3px 18px 13px 0;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    margin-top: 2px;
  }
}

.site-navigation__link {
  padding: 10px 10px 12px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-decoration: none;
  color: $color-triadic-white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-navigation__link-icon {
  vertical-align: middle;
  margin-right: 5px;

  @media screen and (max-width: 1023px) {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .site-navigation__link-text {
    display: none;
  }
}
