@media screen and (max-width: 767px) {
  .social {
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  @media screen and (max-width: 1023px) {
    max-width: 350px;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
    max-width: 700px;
  }
}

.social__item {
  margin: 9px 11px 0 4px;
  text-align: center;
  list-style-type: none;

  @media screen and (max-width: 1023px) {
    margin-right: 10px;
  }
}

.social__link {
  padding: 20px 5px 3px;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
