.wrapper__index {
  min-height: 880px;
  background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
  url("/img/background-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  @media screen and (max-width: 1023px) {
    min-height: 640px;
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
    url("/img/background-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media screen and (max-width: 374px) {
    min-height: 560px;
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
    url("/img/background-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
