.wrapper__container {
  min-height: 880px;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  z-index: 1;

  @supports (background-image: url("../img/background-desktop.webp")) {
    background-image: url("../img/background-desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-desktop@2x.webp");
    }
  }

  @supports not (background-image: url("../img/background-desktop.webp")) {
    background-image: url("../img/background-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/background-desktop@2x.jpg");
    }
  }

  @media screen and (max-width: 1023px) {
    min-height: 640px;

    @supports (background-image: url("../img/background-tablet.webp")) {
      background-image: url("../img/background-tablet.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background-tablet@2x.webp");
      }
    }

    @supports not (background-image: url("../img/background-tablet.webp")) {
      background-image: url("../img/background-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background-tablet@2x.jpg");
      }
    }
  }

  @media screen and (max-width: 374px) {
    min-height: 560px;

    @supports (background-image: url("../img/background-mobile.webp")) {
      background-image: url("../img/background-mobile.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background-mobile@2x.webp");
      }
    }

    @supports not (background-image: url("../img/background-mobile.webp")) {
      background-image: url("../img/background-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/background-mobile@2x.jpg");
      }
    }
  }
}
